.slick-gallery
{
    padding:10px;
}

.slick-gallery .photo
{
    padding:10px;
    cursor:pointer;
}

.slick-gallery-video
{
    padding:10px;
}


.slick-gallery-video .video
{
    padding:10px;
    cursor:pointer;
}

.slick-gallery-video.slick-slider
{
    margin-bottom:0;
}


/* arrow button color */
.slick-prev:before, 
.slick-next:before
{
    color:#000;
}

.slick-prev
{
    left: -10px;
}

.slick-next
{
    right: -10px;
}

.slick-dots
{
    display:none !important;    
}

@media screen and (min-width:768px)
{
    .slick-dots
    {
        display:block !important;
    }
}

/* slick-lightbox extension */
.slick-lightbox
{
    background:rgba(0,0,0,.85) !important;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item
{
    outline:none;
}

.slick-lightbox .slick-prev,
.slick-lightbox .slick-next
{
    z-index:9999999999;
    padding:100px 0;
}

.slick-lightbox .slick-prev:before, 
.slick-lightbox .slick-next:before
{
    color:#FFF;
}

.slick-slide
{
    outline:none;
}
