@charset 'UTF-8';

.slick-gallery
{
    padding:10px;
}

.slick-gallery .photo
{
    padding:10px;
    cursor:pointer;
}

/* arrow button color */
.slick-prev:before, 
.slick-next:before
{
    color:#000;
}

.slick-prev
{
    left: -10px;
}

.slick-next
{
    right: -10px;
}

.slick-dots
{
    display:none !important;    
}

@media screen and (min-width:768px)
{
    .slick-dots
    {
        display:block !important;
    }
}

/* slick-lightbox extension */
.slick-lightbox
{
    background:rgba(0,0,0,.85) !important;
}

/*
.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item
{
    outline:none;
}*/

.slick-lightbox .slick-prev,
.slick-lightbox .slick-next
{
    z-index:9999999999;
    padding:100px 0;
}

.slick-lightbox .slick-prev:before, 
.slick-lightbox .slick-next:before
{
    color:#FFF;
}

.slick-slide
{
    outline:none;
}



.slick-prev:before,
.slick-next:before
{ 
    font-family: 'fontello' !important;
    /*font-size: 40px;*/
    line-height: 1; 
    color: #000;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}   

.slick-prev:before
{ 
    content: '\E891';
}
[dir="rtl"] .slick-prev:before
{ 
    content: '\E891';
}

/*
[dir="rtl"] .slick-next
{ 
    left: -10px; top: 70px; right: auto; 
}*/

.slick-next:before
{ 
    content: '\E892';
}
[dir="rtl"] .slick-next:before
{
    content: '\E892';
}


.slick-dots
{
    display:none !important;
}
.slick-slider
{
    margin-bottom:0px;
}


.slick-dots li button:before
{
    /*
    font-family: 'fontello' !important;
    content: '\E89D' !important;
    */
    /*content:'O';*/
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-close:before
{
    font-family: 'fontello' !important;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\E808' !important;
}

.slick-lightbox .slick-lightbox-inner .slick-lightbox-slick .slick-lightbox-slick-item
{
    border:10px solid #F00;
}