
.icon-download:before { content: '\e800'; } /* '' */
.icon-lodging:before { content: '\e801'; } /* '' */
.icon-commerical-building:before { content: '\e802'; } /* '' */
.icon-building-filled:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-ticket:before { content: '\e805'; } /* '' */
.icon-export:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-up-open:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-print:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80d'; } /* '' */
.icon-garden:before { content: '\e80e'; } /* '' */
.icon-cab:before { content: '\e80f'; } /* '' */
.icon-pinterest-squared:before { content: '\e810'; } /* '' */
.icon-facebook-squared:before { content: '\e811'; } /* '' */
.icon-twitter-squared:before { content: '\e812'; } /* '' */
.icon-linkedin-squared:before { content: '\e813'; } /* '' */
.icon-gplus-squared:before { content: '\e814'; } /* '' */
.icon-basket:before { content: '\e815'; } /* '' */
.icon-flag:before { content: '\e816'; } /* '' */
.icon-star-filled:before { content: '\e817'; } /* '' */
.icon-map:before { content: '\e818'; } /* '' */
.icon-ticket-1:before { content: '\e819'; } /* '' */
.icon-mail:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-cancel-squared:before { content: '\e81c'; } /* '' */
.icon-cancel-1:before { content: '\e81d'; } /* '' */
.icon-cancel-circled:before { content: '\e81e'; } /* '' */
.icon-facebook-circled:before { content: '\e81f'; } /* '' */
.icon-facebook-squared-1:before { content: '\e820'; } /* '' */
.icon-gplus-circled-1:before { content: '\e821'; } /* '' */
.icon-gplus-1:before { content: '\e822'; } /* '' */
.icon-pinterest:before { content: '\e823'; } /* '' */
.icon-twitter:before { content: '\e824'; } /* '' */
.icon-googleplus-rect:before { content: '\e825'; } /* '' */
.icon-pinterest-1:before { content: '\e826'; } /* '' */
.icon-twitter-circled-1:before { content: '\e827'; } /* '' */