<!-- ************ TURN MODAL AFTER USER CLICKS A TURN MARKER ************  -->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" 
        id="myModalLabel"
        ng-if="!data.title"
        >Turn #<span ng-bind="data.turnNumber"></span></h4>
    <h4 class="modal-title" 
        id="myModalLabel"
        ng-if="data.title"
        ng-bind="data.title"
        ></h4>
  </div>
  <div class="modal-body">
    <!-- photo container -->
    <div class="bubble-photo"
         ng-if="data.photo"
    >
        <img ng-src="{{data.photo}}" 
             class="img-responsive" 
             alt="photo"
             />
    </div>
    
    <!-- video container -->
    <div class="embed-responsive embed-responsive-16by9 bubble-video"
         ng-if="data.video"
    >
        <iframe class="embed-responsive-item" 
            ng-src="{{data.video}}" 
            frameborder="0" 
            allowfullscreen
        ></iframe>
    </div>
    <p ng-bind-html="data.text"></p>
    <div class="turn-social-share">
        <a href=""
            ng-click="TurnShareService.shareTurn(data.turnNumber, 'facebook')"
        ><i class="icon icon-facebook-squared"></i></a>
        <a href=""
            ng-click="TurnShareService.shareTurn(data.turnNumber, 'twitter')"
        ><i class="icon icon-twitter"></i></a>
        <a href=""
            ng-click="TurnShareService.shareTurn(data.turnNumber, 'googleplus')"
        ><i class="icon icon-googleplus-rect"></i></a>
        <a href=""
            ng-click="TurnShareService.shareTurn(data.turnNumber, 'email')"
        ><i class="icon icon-mail"></i></a>
    </div>
  </div>
</div>