<script type="text/ng-template" 
        id="smallBubbleTemplate.html"
        >
    <!-- Info bubble -->
    <div class="bubble-content bubble-content-mobile">
        <div class="grid-row no-padding">
            <div class="grid-col-xs-12" style="cursor: pointer;"
                ng-click="openMarkerModal(currentBubble.turnNumber);"
            >
                <h3 class="bubble-title"><i class="icon icon-resize-full"></i>Click to Enlarge</h3>
            </div>
        </div>
    </div>
</script>
<div class="grid-row center no-padding">
    <!-- <p>RACE MAP</p> -->

        <div
            id="the-race-map"
            config="panZoom.config" 
            model="panZoom.model"  
            class="race-map-container"
        >

            <div class="race-map race-map-mobile">
                <!-- TURN MARKERS -->
                <div class="marker-container">
                    <!-- marker -->
                    <div class="turn"
                         ng-repeat="(markerId, marker) in markerState"
                         ng-click="openMarkerModal()"
                         ng-mouseenter="openMarkerModal()"
                         ng-attr-id="{{'turn' + markerId + 'mobile'}}"
                         ng-class="{
                             'turn-selected' : markerState[markerId].selected,
                             'turn-today'    : markerId == dayNumber,
                             'other-feature' : bubbles[markerId].type == 'other'
                         }"
                         uib-popover-template="'smallBubbleTemplate.html'"
                         popover-is-open="bubbles[markerId].display && !globalState.modalHasOpened"
                         popover-trigger="none"
                         popover-placement="auto"
                         popover-append-to-body="true"
                         popover-class="marker-popover"
                    >
                        <!-- bubble -->
                        <span class="turn-number" ng-bind="bubbles[markerId].markerLabel"></span>
                    </div>
                </div>
            </div><!-- end .race-map -->
            
       </div>

    <!-- <ng-transclude></ng-transclude> -->
</div>

